[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IntegratedMRF"]
	path = IntegratedMRF
	url = https://github.com/cran/IntegratedMRF
[submodule "MultivariateRandomForest"]
	path = MultivariateRandomForest
	url = https://github.com/cran/MultivariateRandomForest
